.plant-card {
    padding: 20px;
    width: 282px;
    height: 418.5px;
    background: white;
    box-shadow: 0 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img-box {
    position: relative;
}

.discount-block {
    position: absolute;
    color: white;
    background-image: url(../../Images/discount-bg.svg);
    background-position: center;
    width: 64px;
    height: 64px;
    right: 0;
    top: 0;
    font-size: 12px;
}